@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    user-select: none;
}

html {
    background-color: rgb(30 58 138);
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.toastify {
    background: linear-gradient(135deg, rgba(30, 58, 138, 1), rgb(86, 111, 180)) !important;
}